---
- name: Print current time every 10 seconds in a loop
  hosts: task_server_1
  gather_facts: no
  tasks:
    - name: Print current time and wait for 10 seconds
      vars:
        loop_items: 
          - 1
          - 2
          - 3

    - name: Print current time
      debug:
        msg: "{{item}}"
      loop: "{{ loop_items }}"
      loop_control:
        loop_var: item

        # - name: Print current time
        #   debug:
        #     msg: "Current time: {{ lookup('pipe', 'date +\"%Y-%m-%d %H:%M:%S\"') }}"
        
        # - name: Pause for 10 seconds
        #   pause:
        #     seconds: 10
