---
- name: Collect inode usage from each ONTAP cluster
  hosts: task_server_1
  gather_facts: no
  tasks:
    - name: Send inode usage report via email ( internal sendmail )
      mail:
        host: "{{ smtp_server }}"
        port: "{{ smtp_port }}"
        # username: "{{ smtp_username }}"
        # password: "{{ smtp_password }}"
        to: "{{ email_to }}"
        subject: "ONTAP Cluster Inode Usage Report"
        body: "{{ html_table.stdout }}"
        from: "{{ email_from }}"
        secure: naver
        subtype: html
        headers: 
        - Content-Type="text/html"
      when: html_table.stdout is defined
    - name: Send storage usage report via email ( gmail )
      mail:
        host: "{{ smtp_server }}"
        port: "{{ smtp_port }}"
        username: "{{ smtp_username }}"
        password: "{{ smtp_password }}"
        to: "{{ email_to }}"
        subject: "{{ email_subject }}"
        body: "{{ html_table.stdout }}"
        from: "{{ email_from }}"
        secure: starttls
        subtype: html
        headers: 
        - Content-Type="text/html"
      when: html_table.stdout is defined